
#RewriteCond %{REQUEST_FILENAME} !-d
#RewriteCond %{REQUEST_FILENAME}\.php -f
#RewriteRule ^(.*)$ $1.php
#RewriteRule ^register$ www/soft/register_controller.php
#RewriteRule ^chat$ www/soft/chat_controller.php
#RewriteRule ^profile$ www/soft/profile_controller.php

#Directory options for Apache httpd

#Check if module is turned on.
<IfModule mod_rewrite.c>
    # Init module
    RewriteEngine On
    # Rewrite only requests to non-existing files
    RewriteCond %{REQUEST_FILENAME} !-f
    # Rewrite requests that looks anyway and use some other options
    RewriteRule ^(.*)$ web/app.php [QSA,L]
</IfModule>
